body {
    background-color: #A0CAEC;
}

.logoPharma {
    width: 200px;
}

.formulario{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin-left: 35%;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-sizing: border-box;
    box-shadow: 7px 13px 37px #000;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form{
    color: white;
}

#button{
    width: 80%;
    background: #1f53c5;
    color: white;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 10px;
}

#input{
    width: 300px;
    background: white;
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'calibri';
    color: black;
    box-sizing: border-box;
    box-shadow: 7px 13px 37px #000;
}

#listaDesordenada {
    font-family:'Times New Roman', Times, serif;
    font-size: 16pt;
    list-style: none;
    color: navy;
    float: right;
}

.lista {
    display:inline;
    text-align: right;
    margin: 10px;
}

.principal {
    width: 100%;
    height: auto;
}

a:hover {
    color: violet;
    background-color: beige;
}

a:active {
    color: red;
}

a {
    text-decoration: none;
}

.bradley {
    font-family: Bradley Hand ITC;
    font-weight: bold;
    color: #696969;
}

.negrita {
    font-weight: bold;
}

.box{
    position: block;
    Background-color:darkblue;
    text-align: center;
}

h3{
    color: white;
}

.redes{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    margin: auto;
}

#productos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 101%;
    height: auto;
    margin-left: -10px;
}

.texto_imagen{
    background-color: #A0CAEC;
    width: 1000px;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #F60;
}

.minis_img{
    width: 500px;
    height: 350px;
}

.texto_productos{
    text-align: justify;
    margin: 25px;
}